@import './header.css';
@import './footer.css';
body{
    font-family: 'Poppins', sans-serif;
    
}
a{
    color: #ffff;
}
a:hover{
    text-decoration: none;
    color: #ffff;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #343434;
    font-size: 2rem;
}


h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

section{
    min-height:100vh ;
    width: 100%;
    display: grid;
    place-items: center;
    -moz-place-items: center;
    -webkit-place-items: center;
    text-align: center;
}
input ,textarea{
    outline: none;
    border: none;
    padding: 0.6rem 1rem;
}
main{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
}
h6{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0.9rem;
}

/*  utilites */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.utility-center-content{
    display: flex;
    align-items: center;
}

.section-paragraph{
    width: 100%;
    line-height: 1.6;
    font-size: 0.9rem;
    color: #748182;
    font-weight: 400;
    margin: 1.8rem 0;
}
.secondry-heading{
    position: relative;
    margin: 3rem 0 0;
    text-transform: capitalize;
    line-height: 1.1;
    font-size: 2.5rem;
    font-weight: 900;
    color: #1c1c1c;
    z-index: 1;
    line-height: 1.1;
}
.secondry-heading::before{
    position: absolute;
    content: " ";
    background-image: url("../images/dots.png"); 
    background-repeat: repeat;
    width: 100%;
    height: 90%;
    bottom: -10px;
    z-index: -1;
}
.btn{
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 1.6rem;
    transition: color 0.5s , background-color 0.5s;   
}

.btn-dark{
    background: #1c1c1c;
    color: #ffff;
}
.btn-dark:hover{
    background-color: #ffff;
    color: #1c1c1c;
}
.btn-outline-light{
    color: #1c1c1c;
}
.btn-outline-light:hover{
    background-color: #1c1c1c;
    color: #ffff;
}

.bg-gray{
    background-color: #f7f7f7;
}

.service-icon ,.contact-icon{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 1.3rem;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: color 0.5s , background-color 0.5s; 
    transition: color 0.5s , background-color 0.5s; 
}
.contact-icon:hover{
    background-color: #1c1c1c;
    color: #ffff; 
}

/*  end utilites */


/*  section about me start */
.section__about-me{
    min-height: 90vh;
}
.section__about-me .img-container{
    text-align: right;
}
.section__about-me .img-container img{
    position: relative;
}
.section__about-me .img-container::before{
    position: absolute;
    content: " ";
    background-image: url("../images/dots.png"); 
    background-repeat: repeat;
    width: 100%;
    height: 70%;
    left: -20px;
    bottom: -30px;
}
.about-heading{
    font-weight: 800;
    margin-bottom: 5px;
}
.sub-tittle{
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.section-paragraph span{
    font-weight: 600;
}
.progress{
    background: #f7f7f7;
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}
.progress-bar{
    padding:13px ;
    background-color: #1c1c1c;
    border-radius: 5px;
}
/*  section about me end */


/*  start section services styling */
.section__services{
    text-align: center;
}
.service {
    padding: 1.7rem 0.5rem 1rem;
}
.service:hover .service-icon{
    background-color: #1c1c1c;
    color: #ffff; 
}
.service-name{
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}
.section__services .row p {
    color: #748182;
}
/*  end section services styling */



/*  start section portfolo  */

.section__works{
    min-height: 90vh;
}

.category-item{
    margin-right: 2rem;   
}
.nav-tabs{
    border: none;
}

.nav-tabs .nav-link{
    border:none;
    color: #222;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.nav-tabs .nav-link.active{
    border:none;
    border-bottom: 2px solid;
    color: #222;
}

.tab-pane .row >div:not(:last-child){
    margin-right: 1rem;
}
.tab-pane .row >div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}
.overlay{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f7f7f7e8;
    position:  absolute;
    width: 98%;
    height: 97%;
    flex-wrap: wrap;
    transition: opacity 0.5s;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}

.overlay:hover .overlay-heading{
    top: 0;
}
.overlay:hover .overlay-icons{
    bottom: 0;
}
.overlay-heading{
    position: relative;
    top: -6px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
    transition: top 0.5s 0.1s;
}
.overlay-icons{
    text-align: center;
    width: 100%;
    position: relative;
    bottom: -6px;
    transition: bottom 0.5s 0.1s;
}
.overlay i{  
    
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    font-size: 11px;
    margin-right: 4px;
    -webkit-transition: color 0.5s , background-color 0.5s; 
    transition: color 0.5s , background-color 0.5s; 
}
.overlay i:hover{
    background-color: #ffff;
    color: #111;
}

/*  end section portfolio */



/* section testimonials*/
.section__testimonials {
    min-height: 80vh;
}
.section__testimonials .container{
    max-width: 90%;
}
.section__testimonials .carousel-item .img-container{
    margin: auto;
}
.section__testimonials .img-container{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.section__testimonials .img-container img{
    border-radius: 50px;
}
.carousel-indicators{
    position: relative;
    margin-top: 2rem;
}
.carousel-indicators li{
    background-color: #748182;
    width: 10px;
    height: 9px;
    border-radius: 50%;
    margin-right: 1rem;
}
.carousel-item p{
   font-size: 1.1rem;
}
.section__testimonials .carousel-item  h6{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 0.3rem;
}
.carousel-item span{
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}

/*  endd section testimonials */

/* section counters start  */
.section__counters{
    min-height: 50vh;
} 
.section__counters .row ,.section__contact .row{
    width: 100%;
    padding: 0rem 1rem 1rem;
    justify-content: space-between;
}

.counter-container ,.contact-method{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}
.counter-container i{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.counter-container h3{
    font-weight: 900;
    margin-bottom: 1rem;
}
.counter-name{
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
    font-weight: 600;
}
/* section counters end  */

/*  strat blog section */
.section__blogs{
    min-height: 110vh;
    text-align: left;
}
.section__blogs .container{
    max-width: 90%;
}
.section__blogs .row {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fill , minmax(19rem ,1fr));
    column-gap: 2rem;
    row-gap: 1rem;
}
.section__blogs .img-container{
    overflow: hidden;
}
.section__blogs img{
    transition: transform 0.5s;
}
.section__blogs img:hover{
    transform: scale(1.1);
}
.blog{
    display: flex;
    flex-direction: column;
}
.blog-info{
    background-color: #ffff;
    padding: 2rem;
    flex-grow: 1;
}
.blog-tag{
    color: #999;
    text-transform: capitalize;
}
.blog-tag:hover{
    color: #999;
}
.section__blogs .blog-title{
    color: #343434;
}
.section__blogs .blog-title h6{
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0;
    margin: 0.8rem 0;
    line-height: 1.7;
}
.blog-title:hover{
    color: #111;
}
.btn-more{
    font-size: 0.9rem;
    color: #474747;
    border-bottom:2px solid #1c1c1c ;
}
.btn-more:hover{
    color: #343434;
}

/* end blog section  */

/* section contact start */
.section__contact{
    min-height: 100vh;
}
.contacts-row{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 1rem;
}
.contact-method i{
    padding: 1rem;
    font-size: 25px;
}
.contact-title{
    letter-spacing: 0;
    font-size: 1.1rem;
}

.contact-method p{
    color: #474747;
    font-size: 0.9rem;
}
.contact-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.contact-form input:not(:last-child){
    width: 48%;
    margin: 1rem 0;
    border-radius: 5px;
}
.contact-form textarea{
    width: 100%;
    border-radius: 5px;
}

.contact-form button{
  padding-left: 35px;
  padding-right: 35px;
}
/* section contact end */

/* resposive settings */
@media (max-width: 575px){
    html{
        font-size: 12px;
    } 
    .contacts-row{
 
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media (min-width: 576px)and (max-width: 767px) {
    .col-sm-6{
        max-width: 48%;
    }
}
@media (max-width: 768px){

    .container{
        max-width: 90%;
    }
    .main-heading{
        font-size: 2.5rem;
    }
    .row{
        padding: 0 3rem;
    } 
    .row > div{
        margin: 2rem 0 0;
    }
    .row > div:last-child{
        margin-bottom: 0;
    }
    .secondry-heading{
        margin-top: 2.5rem;
        margin-bottom: 0px;
    }
    .section__blogs .row{
        margin-top: 0px;
    }
}
@media (max-width: 992px){
    .navbar{
        padding: 0.5rem 1rem;
    }
    /*.navbar-toggler .navbar-toggler-icon{
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='20' viewBox='0 0 30 20'%3e%3cpath stroke='rgba%280, 0, 0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 5h22M4 10h22M4 15h22'/%3e%3c/svg%3e");
    }*/
    .navbar-toggler{
        padding: 0.2rem 0.3rem;
        outline: none;
        border: none;
    }
    .navbar-nav{
        background-color: #ffff;
        
    }
    .navbar-dark .nav-item .nav-link {
        color: black;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        max-width: 48%;
    }
}
@media (min-width: 992px) { 
     .col-lg-4{
         max-width: 31%;
     }
}

@media (min-width: 1200px) { 

}